MySQL-python==1.2.5
amqp==1.4.6
anyjson==0.3.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.19
boto==2.32.1
numpy==1.7.1
kombu==3.0.24
meld3==1.0.0
peewee==2.4.4
python-dateutil==2.2
pytz==2014.10
redis==2.10.3
requests==2.5.0
six==1.8.0
supervisor==3.0.1
tornado==3.2
urllib3==1.9.1
wsgiref==0.1.2
arrow==0.4.4
matplotlib==1.4.3